extends _layout.pug

block prods

  a(href="/") Index

  h1 Productos
    
  if listExists
    div(class="table-responsive px-4")
      table(class="table table-dark")
        tr(style="color: yellow;")
          th Title 
          th Price 
          th Thumbnail
        each prod in productos
          tr
            each val in prod
              td= val
  else
    p No se encontraron productos


