<%- include('_head') %>

  <main class="container text-center">
    <h1>Login</h1>
    <form action="/signin" method="post">
      <label for="email">Ingrese su email</label> <br>
      <input type="text" id="email" name="username" placeholder="cuenta@empresa.com"> <br>
      <label for="contraseña">Contraseña</label> <br>
      <input type="password" id="contraseña" name="password"> <br>

      <button class="my-4">Registrarme</button> <br>
    </form>
    
    <button class="my-4">
      <a href="/login"> Loguearme </a>
    </button>
  </main>

<%- include('_foot') %>