<div class="row p-0 m-0">
  <h2 class="col-9">Bienvenido <%- user.nombre %></h2>

  <img class="col-1" src="/avatares/<%- user.avatar %>" alt="Imagen de perfil" >

    <a href="/logout" class="col">
      <button>Desloguearse</button>
    </a>

</div>