<%- include("./partials/head.ejs") %> 
  <a href="/productos"> Productos </a>

  <form action="/productos" method="post">
    <label for="title">Title</label>
    <input type="text" name="title" id="title">
    <label for="price">Price</label>
    <input type="text" name="price" id="price">
    <label for="thumbnail">Thumbnail</label>
    <input type="text" name="thumbnail" id="thumbnail">
    <input type="submit">
  </form>

  <%- include("./partials/footer.ejs") %> 
</body>
</html>